div.row{
    text-align: center;
}

h2{
    padding: 0.3rem 0;
}

[class*="col-"]{
    background-color: rgb(0, 108, 250);
    border: 1px solid white;
    padding: 0.5rem;
}

.green{
    background-color: rgb(0, 225, 101);
    border: 1px solid rgb(0, 108, 250);
}

div.margin{
    margin-top: 1rem;
}

div.height{
    height: 40px;
}

